title: MICHAEL SHEPHARD
description: 3D Printing Portfolio
theme: minima

collections:
  projects:
    output: true

defaults:
  - scope:
      path: ""
      type: projects
    values:
      layout: project

header_pages:
  - index.md
  - contact.md
